<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django JinjaTemplate Project</title>
</head>
<style>
    div{
        text-align: center;
    }
    h1{
        color: blue;
    }
    h2{
        color: crimson;
    }
    h3{
        color: teal;
    }
</style>
<body>
    <div>
        <h1>Calendar {{nik}}</h1>
        <hr/>
        <p>{% autoescape off %} {{cal}} {% endautoescape %}</p>
    </div>
</body>
</html>




